{% extends 'components/layout/finance/layout.html' %}

{% block content_header %}

    <div class="kt-subheader  kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">Budget Entry</h3>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <a href="{% url 'department_dashboard' %}" class="btn kt-subheader__btn-secondary">Dashboard ></a>
                    <a class="btn kt-subheader__btn-secondary--active">Budget Entry</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content_header %}

{% block content %}



<!-- <form action="{% url 'home' %}" method="post" >
    {% csrf_token %}

     {{ form.as_p }}

  <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>

    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Add new budget
          </h3>
        </div>
      </div>
    </div>
</form> -->

<!--begin::Portlet-->
<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        New Budget Entry
      </h3>
    </div>
  </div>

  <!--begin::Form-->
  <form class="kt-form kt-form--label-right" action="{% url 'budgetmaster' %}" method="post">
    {% csrf_token %}
    <div class="kt-portlet__body">
      <div class="form-group row form-group-marginless kt-margin-t-20">
        <label class="col-lg-1 col-form-label">DDO Code:</label>
        <div class="col-lg-3">
          <div class="input-group">
            <input type="text" class="form-control" name="ddo_code" maxlength="7" >
          </div>
          <span class="form-text text-muted">Please enter ddo code</span>
        </div>
        <label class="col-lg-1 col-form-label">Detail Head:</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" name="detail_head" maxlength="2" >
          <span class="form-text text-muted">Please enter the detail head</span>
        </div>
        <label class="col-lg-1 col-form-label">Scheme Code:</label>
        <div class="col-lg-3">
          <div class="kt-input-icon">
            <input type="text" class="form-control" name="scheme_code" maxlength="17" >
            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-info-circle"></i></span></span>
          </div>
          <span class="form-text text-muted">Please enter the scheme code</span>
        </div>
      </div>
      <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
      <div class="form-group row form-group-marginless">
        <label class="col-lg-1 col-form-label">Issue Date:</label>
        <div class="col-lg-3">
          <div class="kt-input-icon">
            <input type="text" class="form-control" id="kt_datepicker_10000"  placeholder="Select date" name="issue_date">
          </div>
          <span class="form-text text-muted">Please enter the issue date</span>
        </div>
        <label class="col-lg-1 col-form-label">Order Number:</label>
        <div class="col-lg-3">
          <div class="kt-input-icon">
            <input type="text" class="form-control" name="order_no" >
            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-bookmark-o"></i></span></span>
          </div>
          <span class="form-text text-muted">Please enter the order number</span>
        </div>
        <label class="col-lg-1 col-form-label">DA Number:</label>
        <div class="col-lg-3">
          <div class="kt-input-icon">
            <input type="text" class="form-control" name="da_no">
            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-bookmark-o"></i></span></span>
          </div>
          <span class="form-text text-muted">Please enter the DA number</span>
        </div>
      </div>
      <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
      <div class="form-group row">
        </div>
        <div class="form-group row form-group-marginless">
        <label class="col-lg-1 col-form-label">Valid From:</label>
          <div class="col-lg-3">
            <div class="kt-input-icon">
              <input type="text" class="form-control" id="kt_datepicker_10000000"  placeholder="Select starting date" name="valid_from">
            </div>
            <span class="form-text text-muted">Please enter the issue date</span>
          </div>
        <label class="col-lg-1 col-form-label">Valid To:</label>
          <div class="col-lg-3">
            <div class="kt-input-icon">
              <input type="text" class="form-control" id="kt_datepicker_10000000"  placeholder="Select ending date" name="valid_to">
            </div>
            <span class="form-text text-muted">Please enter the issue date</span>
          </div>
        <label class="col-lg-1 col-form-label">Amount:</label>
          <div class="col-lg-3">
            <div class="kt-input-icon">
              <input type="text" class="form-control" name="amount" >
              <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-map-marker" ></i></span></span>
            </div>
            <span class="form-text text-muted">Please enter the amount</span>
          </div>
        </div>
      </div>
    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
        <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-7">
            <button  class="btn btn-brand" type='submit' name='budget_save'>Submit</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!--end::Form-->
</div>
{% endblock %}
